# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.idea/workspace.xml
build/android-profile/profile-2018-03-14-09-37-52-625.json
build/android-profile/profile-2018-03-14-09-37-52-625.rawproto
build/android-profile/profile-2018-03-14-09-38-14-761.json
build/android-profile/profile-2018-03-14-09-38-14-761.rawproto
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/javaCompile/taskHistory.bin
build/android-profile/profile-2018-03-14-09-58-41-264.rawproto
build/android-profile/profile-2018-03-14-10-24-56-236.json
build/android-profile/profile-2018-03-14-10-24-56-236.rawproto
build/android-profile/profile-2018-03-14-10-16-02-063.json
build/android-profile/profile-2018-03-14-10-21-52-425.rawproto
build/android-profile/profile-2018-03-14-10-25-20-351.json
build/android-profile/profile-2018-03-14-10-16-02-063.rawproto
build/android-profile/profile-2018-03-14-10-23-24-216.json
build/android-profile/profile-2018-03-14-10-25-20-351.rawproto
build/android-profile/profile-2018-03-14-10-18-31-477.json
build/android-profile/profile-2018-03-14-10-25-45-990.json
build/android-profile/profile-2018-03-14-10-18-31-477.rawproto
build/android-profile/profile-2018-03-14-10-25-45-990.rawproto
build/android-profile/profile-2018-03-14-10-24-20-965.json
build/android-profile/profile-2018-03-14-10-23-24-216.rawproto
build/android-profile/profile-2018-03-14-10-24-20-965.rawproto
build/android-profile/profile-2018-03-14-09-58-41-264.json
build/android-profile/profile-2018-03-14-10-21-52-425.json
