# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.idea/workspace.xml
build/android-profile/profile-2018-03-14-09-37-52-625.json
build/android-profile/profile-2018-03-14-09-37-52-625.rawproto
build/android-profile/profile-2018-03-14-09-38-14-761.json
build/android-profile/profile-2018-03-14-09-38-14-761.rawproto
